.astronomy-container {
  display: flex; 
  float: center;
}
.astronomy-cardbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(109,123,131, 0.8);
  width: 45%;
  height: 20%;
  margin: 15px;
}
.img-item {
  display:flex;
  justify-content: center;
}
img {
  width: 80%;
  height: 100%;
  border-radius: 4px;
}

p#description {
  color: white;
}

.date-item {
  color: white;
  margin: 20px;
}

.description-item {
  width: 80%;
  height: 100%;
}
